.posts {
  width: 100%;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 25px;

  box-sizing: border-box;
}

/* Tablet */

@media (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);

    gap: 20px;
  }
}

/* Mobile */

@media (max-width: 600px) {
  .posts {
    grid-template-columns: 1fr;

    gap: 20px;
  }
}
